<!DOCTYPE html>
<html>
<head>
    <title>Movie Search Form</title>
</head>
<body>
<form id="movie-search-form">
    <label for="movie-title">Movie Title:</label>
    <input type="text" id="movie-title" name="movie-title"><br>
    <input type="submit" value="Submit">
</form>

<div id="movie-info-container" style="display: none;">
    <h2 id="movie-title-result"></h2>
    <p><strong>Year:</strong> <span id="movie-year-result"></span></p>
    <p><strong>Rated:</strong> <span id="movie-rated-result"></span></p>
    <p><strong>Released:</strong> <span id="movie-released-result"></span></p>
    <p><strong>Runtime:</strong> <span id="movie-runtime-result"></span></p>
    <p><strong>Genre:</strong> <span id="movie-genre-result"></span></p>
    <p><strong>Director:</strong> <span id="movie-director-result"></span></p>
    <p><strong>Writer:</strong> <span id="movie-writer-result"></span></p>
    <p><strong>Actors:</strong> <span id="movie-actors-result"></span></p>
    <p><strong>Plot:</strong> <span id="movie-plot-result"></span></p>
    <p><strong>Language:</strong> <span id="movie-language-result"></span></p>
    <p><strong>Country:</strong> <span id="movie-country-result"></span></p>
    <p><strong>Awards:</strong> <span id="movie-awards-result"></span></p>
    <p><strong>Rotten Tomatoes Rating:</strong> <span id="movie-rotten-tomatoes-result"></span></p>
    <img id="movie-poster-result">
</div>

<script src="script.js"></script>
</body>
</html>
